In [1]:
# Loading the dataset

import pandas as pd
import numpy as np

df = pd.read_csv("survey.csv")

In [2]:
# Previewing the data dimensions
print(df.shape)

(1259, 27)

In [3]:
# Previewing the data columns
print(df.columns)

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [4]:
# Previewing the data quick summary
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB
None

In [5]:
# Previewing the data - viewing first 5 records
print(df.head())

             Timestamp  Age  Gender         Country state self_employed  \
0  2014-08-27 11:29:31   37  Female   United States    IL           NaN
1  2014-08-27 11:29:37   44       M   United States    IN           NaN
2  2014-08-27 11:29:44   32    Male          Canada   NaN           NaN
3  2014-08-27 11:29:46   31    Male  United Kingdom   NaN           NaN
4  2014-08-27 11:30:22   31    Male   United States    TX           NaN

  family_history treatment work_interfere    no_employees  ...  \
0             No       Yes          Often            6-25  ...
1             No        No         Rarely  More than 1000  ...
2             No        No         Rarely            6-25  ...
3            Yes       Yes          Often          26-100  ...
4             No        No          Never         100-500  ...

                leave mental_health_consequence phys_health_consequence  \
0       Somewhat easy                        No                      No
1          Don't know                     Maybe                      No
2  Somewhat difficult                        No                      No
3  Somewhat difficult                       Yes                     Yes
4          Don't know                        No                      No

      coworkers supervisor mental_health_interview phys_health_interview  \
0  Some of them        Yes                      No                 Maybe
1            No         No                      No                    No
2           Yes        Yes                     Yes                   Yes
3  Some of them         No                   Maybe                 Maybe
4  Some of them        Yes                     Yes                   Yes

  mental_vs_physical obs_consequence comments
0                Yes              No      NaN
1         Don't know              No      NaN
2                 No              No      NaN
3                 No             Yes      NaN
4         Don't know              No      NaN

[5 rows x 27 columns]

In [6]:
# Preview the selected dataframe and check null values
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB
None
Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [7]:
# Replace null values in state column with "Unknown"
df['state'] = df['state'].fillna('Unknown')

In [8]:
# Replace null values in self_employed column with "Unknown"
df['self_employed'] = df['self_employed'].fillna('Unknown')

In [9]:
# Replace null values in work_interfere column with "Unknown"
df['work_interfere'] = df['work_interfere'].fillna('Unknown')

In [10]:
# Replace null values in work_interfere column with "Unknown"
df['comments'] = df['comments'].fillna('')

In [11]:
# I decided to fill misisng values with Unknown/empty string (for comments) to avoid dropping any records and losing data.
# If needed, these records can be dropped/handled when modeling.
# Comments has a significant amount of missing values that were filled with empty strings, so this column may need to be dropped in modeling if needed.

In [12]:
# Checking that there are no null values in any columns
print(df.isnull().sum())

Timestamp                    0
Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
comments                     0
dtype: int64

In [13]:
# Standardizing inconsistent values in columns

# Timestamp
df['Timestamp'].unique()
df['Timestamp'].value_counts()

2014-08-27 12:44:51    2
2014-08-27 14:22:43    2
2014-08-27 12:31:41    2
2014-08-28 16:52:34    2
2014-08-27 17:33:52    2
                      ..
2014-08-27 15:35:21    1
2014-08-27 15:34:32    1
2014-08-27 15:34:31    1
2014-08-27 15:34:23    1
2016-02-01 23:04:31    1
Name: Timestamp, Length: 1246, dtype: int64

In [14]:
# Age
df['Age'].unique()

array([         37,          44,          32,          31,          33,
                35,          39,          42,          23,          29,
                36,          27,          46,          41,          34,
                30,          40,          38,          50,          24,
                18,          28,          26,          22,          19,
                25,          45,          21,         -29,          43,
                56,          60,          54,         329,          55,
       99999999999,          48,          20,          57,          58,
                47,          62,          51,          65,          49,
             -1726,           5,          53,          61,           8,
                11,          -1,          72], dtype=int64)

In [15]:
min_age = 18
max_age = 120
df['Age'] = df['Age'].apply(lambda x: x if min_age <= x <= max_age else np.nan)

In [16]:
df['Age'].unique()

# Remains numeric, and any invalid values will just be NaN
# Skipped in calculations by default or can be filled with a statistic (mean, median, etc.) or can be dropped

array([37., 44., 32., 31., 33., 35., 39., 42., 23., 29., 36., 27., 46.,
       41., 34., 30., 40., 38., 50., 24., 18., 28., 26., 22., 19., 25.,
       45., 21., nan, 43., 56., 60., 54., 55., 48., 20., 57., 58., 47.,
       62., 51., 65., 49., 53., 61., 72.])

In [17]:
# Gender
df['Gender'].unique()
df['Gender'].value_counts()

Male                                              615
male                                              206
Female                                            121
M                                                 116
female                                             62
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Male                                                3
Woman                                               3
Cis Male                                            2
Man                                                 2
Female (trans)                                      2
Female                                              2
Trans woman                                         1
msle                                                1
male leaning androgynous                            1
Neuter                                              1
cis male                                            1
queer                                               1
Female (cis)                                        1
Mail                                                1
cis-female/femme                                    1
A little about you                                  1
Malr                                                1
p                                                   1
femail                                              1
Cis Man                                             1
Guy (-ish) ^_^                                      1
Enby                                                1
Agender                                             1
Androgyne                                           1
Male-ish                                            1
maile                                               1
Trans-female                                        1
Cis Female                                          1
something kinda male?                               1
Mal                                                 1
Male (CIS)                                          1
queer/she/they                                      1
non-binary                                          1
Femake                                              1
woman                                               1
Nah                                                 1
All                                                 1
fluid                                               1
Genderqueer                                         1
ostensibly male, unsure what that really means      1
Name: Gender, dtype: int64

In [18]:
gender_map = {
    # Male variants
    'male': 'Male', 'm': 'Male', 'man': 'Male', 'cis male': 'Male', 'cis man': 'Male',
    'male ': 'Male', 'msle': 'Male', 'mal': 'Male', 'malr': 'Male', 'maile': 'Male',
    'make': 'Male', 'mail': 'Male', 'male (cis)': 'Male', 'm ': 'Male', 'guy (-ish) ^_^': 'Male',
    'male leaning androgynous': 'Male', 'ostensibly male, unsure what that really means': 'Male',
    'male-ish': 'Male',

    # Female variants
    'female': 'Female', 'f': 'Female', 'woman': 'Female', 'cis female': 'Female',
    'femake': 'Female', 'femail': 'Female', 'female ': 'Female', 'female (cis)': 'Female',
    'female (trans)': 'Female', 'trans-female': 'Female', 'trans woman': 'Female',
    'cis-female/femme': 'Female', 'cis female': 'Female', 'cisfemale': 'Female',

    # Everything else
    'queer': 'Other', 'non-binary': 'Other', 'enby': 'Other', 'agender': 'Other',
    'androgyne': 'Other', 'genderqueer': 'Other', 'fluid': 'Other', 'nah': 'Other',
    'all': 'Other', 'a little about you': 'Other', 'queer/she/they': 'Other',
    'something kinda male?': 'Other', 'p': 'Other'
}

In [19]:
df['Gender'] = df['Gender'].str.strip().str.lower().map(gender_map).fillna('Other')

In [20]:
df['Gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [21]:
df['Gender'].value_counts()

Male      994
Female    251
Other      14
Name: Gender, dtype: int64

In [22]:
# Country
df['Country'].unique()
df['Country'].value_counts()

United States             751
United Kingdom            185
Canada                     72
Germany                    45
Ireland                    27
Netherlands                27
Australia                  21
France                     13
India                      10
New Zealand                 8
Poland                      7
Switzerland                 7
Sweden                      7
Italy                       7
South Africa                6
Belgium                     6
Brazil                      6
Israel                      5
Singapore                   4
Bulgaria                    4
Austria                     3
Finland                     3
Mexico                      3
Russia                      3
Denmark                     2
Greece                      2
Colombia                    2
Croatia                     2
Portugal                    2
Moldova                     1
Georgia                     1
Bahamas, The                1
China                       1
Thailand                    1
Czech Republic              1
Norway                      1
Romania                     1
Nigeria                     1
Japan                       1
Hungary                     1
Bosnia and Herzegovina      1
Uruguay                     1
Spain                       1
Zimbabwe                    1
Latvia                      1
Costa Rica                  1
Slovenia                    1
Philippines                 1
Name: Country, dtype: int64

In [23]:
# State
df['state'].unique()
df['state'].value_counts()

# Note: "Unknown" records may be those who left this field empty in the survey, which could indicate they are not in the US

Unknown    515
CA         138
WA          70
NY          57
TN          45
TX          44
OH          30
IL          29
OR          29
PA          29
IN          27
MI          22
MN          21
MA          20
FL          15
NC          14
VA          14
WI          12
GA          12
MO          12
UT          11
CO           9
MD           8
AL           8
AZ           7
OK           6
NJ           6
KY           5
SC           5
IA           4
CT           4
DC           4
NV           3
VT           3
SD           3
KS           3
NH           3
WY           2
NM           2
NE           2
WV           1
ID           1
MS           1
RI           1
LA           1
ME           1
Name: state, dtype: int64

In [24]:
# self_employed
df['self_employed'].unique()
df['self_employed'].value_counts()

No         1095
Yes         146
Unknown      18
Name: self_employed, dtype: int64

In [25]:
# family_history
df['family_history'].unique()
df['family_history'].value_counts()

No     767
Yes    492
Name: family_history, dtype: int64

In [26]:
# treatment
df['treatment'].unique()
df['treatment'].value_counts()

Yes    637
No     622
Name: treatment, dtype: int64

In [27]:
# work_interfere
df['work_interfere'].unique()
df['work_interfere'].value_counts()

# Ordinal Categorical Variable

Sometimes    465
Unknown      264
Never        213
Rarely       173
Often        144
Name: work_interfere, dtype: int64

In [28]:
# no_employees
df['no_employees'].unique()
df['no_employees'].value_counts()

# Ordinal Categorical Variable

6-25              290
26-100            289
More than 1000    282
100-500           176
1-5               162
500-1000           60
Name: no_employees, dtype: int64

In [29]:
# remote_work
df['remote_work'].unique()
df['remote_work'].value_counts()

No     883
Yes    376
Name: remote_work, dtype: int64

In [30]:
# tech_company
df['tech_company'].unique()
df['tech_company'].value_counts()

Yes    1031
No      228
Name: tech_company, dtype: int64

In [31]:
# benefits
df['benefits'].unique()
df['benefits'].value_counts()

Yes           477
Don't know    408
No            374
Name: benefits, dtype: int64

In [32]:
# care_options
df['care_options'].unique()
df['care_options'].value_counts()

No          501
Yes         444
Not sure    314
Name: care_options, dtype: int64

In [33]:
# wellness_program
df['wellness_program'].unique()
df['wellness_program'].value_counts()

No            842
Yes           229
Don't know    188
Name: wellness_program, dtype: int64

In [34]:
# seek_help
df['seek_help'].unique()
df['seek_help'].value_counts()

No            646
Don't know    363
Yes           250
Name: seek_help, dtype: int64

In [35]:
# anonymity
df['anonymity'].unique()
df['anonymity'].value_counts()

Don't know    819
Yes           375
No             65
Name: anonymity, dtype: int64

In [36]:
# leave
df['leave'].unique()
df['leave'].value_counts()

# Ordinal Categorical Variable

Don't know            563
Somewhat easy         266
Very easy             206
Somewhat difficult    126
Very difficult         98
Name: leave, dtype: int64

In [37]:
# mental_health_consequence
df['mental_health_consequence'].unique()
df['mental_health_consequence'].value_counts()

No       490
Maybe    477
Yes      292
Name: mental_health_consequence, dtype: int64

In [38]:
# phys_health_consequence
df['phys_health_consequence'].unique()
df['phys_health_consequence'].value_counts()

No       925
Maybe    273
Yes       61
Name: phys_health_consequence, dtype: int64

In [39]:
# coworkers
df['coworkers'].unique()
df['coworkers'].value_counts()

Some of them    774
No              260
Yes             225
Name: coworkers, dtype: int64

In [40]:
# supervisor
df['supervisor'].unique()
df['supervisor'].value_counts()

Yes             516
No              393
Some of them    350
Name: supervisor, dtype: int64

In [41]:
# mental_health_interview
df['mental_health_interview'].unique()
df['mental_health_interview'].value_counts()

No       1008
Maybe     207
Yes        44
Name: mental_health_interview, dtype: int64

In [42]:
# phys_health_interview
df['phys_health_interview'].unique()
df['phys_health_interview'].value_counts()

Maybe    557
No       500
Yes      202
Name: phys_health_interview, dtype: int64

In [43]:
# mental_vs_physical
df['mental_vs_physical'].unique()
df['mental_vs_physical'].value_counts()

Don't know    576
Yes           343
No            340
Name: mental_vs_physical, dtype: int64

In [44]:
# obs_consequence
df['obs_consequence'].unique()
df['obs_consequence'].value_counts()

No     1075
Yes     184
Name: obs_consequence, dtype: int64

In [45]:
# comments
df['comments'].unique()
df['comments'].value_counts()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1095
* Small family business - YMMV.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   5
(yes but the situation was unusual and involved a change in leadership at a very high level in the organization as well as an extended leave of absence)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
None of us who are already in marginal groups in tech--the non-young the non-male the non-white--will risk our careers to admit another source of stigma: poor health.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
I have been incredibly public about my own struggle in my own conversations and in social media insofar as how I can use my depression to raise awareness or help others. Because of that my employer - or any future employer - kind of knows by default. It's not a secret. That said the downside of that openness is that I have no faith that I wouldn't be discriminated against at a future job simply because the information is public. Likewise I worry I'm seen as less-than by my employer in some circumstances. Regerdless I don't regret being public and raising awareness. My point is that even those of us who do publicly discuss the issue fear systemic retribution.        1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ...
In Germany your employer doesn't really provide mental health benefits. There's a standard and I get that but I would get the same at any other company in Germany.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
fwiw I am a co founder of this company and the would you X in an interview questions shouldn't reflect how I would treat anyone addressing their own phys/mental health issue to me in such a situation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
I talked to a psychiatrist once about taking medical leave for mental health issues with his referral. He was willing to help but warned me that I may not want to as he's seen that sort of thing follow people throughout their tech careers (word gets out even if it's confidential at work). I've been terrified of bringing mental health up anywhere that coworkers or potential employers could see ever since.                                                                                                                                                                                                                                                                           1
So much depends upon the organization.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Bipolar disorder                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Name: comments, Length: 161, dtype: int64

In [46]:
print(df.dtypes)

Timestamp                     object
Age                          float64
Gender                        object
Country                       object
state                         object
self_employed                 object
family_history                object
treatment                     object
work_interfere                object
no_employees                  object
remote_work                   object
tech_company                  object
benefits                      object
care_options                  object
wellness_program              object
seek_help                     object
anonymity                     object
leave                         object
mental_health_consequence     object
phys_health_consequence       object
coworkers                     object
supervisor                    object
mental_health_interview       object
phys_health_interview         object
mental_vs_physical            object
obs_consequence               object
comments                      object
dtype: object

In [47]:
df = df.drop(columns=['Timestamp'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        1251 non-null   float64
 1   Gender                     1259 non-null   object
 2   Country                    1259 non-null   object
 3   state                      1259 non-null   object
 4   self_employed              1259 non-null   object
 5   family_history             1259 non-null   object
 6   treatment                  1259 non-null   object
 7   work_interfere             1259 non-null   object
 8   no_employees               1259 non-null   object
 9   remote_work                1259 non-null   object
 10  tech_company               1259 non-null   object
 11  benefits                   1259 non-null   object
 12  care_options               1259 non-null   object
 13  wellness_program           1259 non-null   object
 14  seek_help                  1259 non-null   object
 15  anonymity                  1259 non-null   object
 16  leave                      1259 non-null   object
 17  mental_health_consequence  1259 non-null   object
 18  phys_health_consequence    1259 non-null   object
 19  coworkers                  1259 non-null   object
 20  supervisor                 1259 non-null   object
 21  mental_health_interview    1259 non-null   object
 22  phys_health_interview      1259 non-null   object
 23  mental_vs_physical         1259 non-null   object
 24  obs_consequence            1259 non-null   object
 25  comments                   1259 non-null   object
dtypes: float64(1), object(25)
memory usage: 255.9+ KB

In [48]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1251 entries, 0 to 1258
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        1251 non-null   float64
 1   Gender                     1251 non-null   object
 2   Country                    1251 non-null   object
 3   state                      1251 non-null   object
 4   self_employed              1251 non-null   object
 5   family_history             1251 non-null   object
 6   treatment                  1251 non-null   object
 7   work_interfere             1251 non-null   object
 8   no_employees               1251 non-null   object
 9   remote_work                1251 non-null   object
 10  tech_company               1251 non-null   object
 11  benefits                   1251 non-null   object
 12  care_options               1251 non-null   object
 13  wellness_program           1251 non-null   object
 14  seek_help                  1251 non-null   object
 15  anonymity                  1251 non-null   object
 16  leave                      1251 non-null   object
 17  mental_health_consequence  1251 non-null   object
 18  phys_health_consequence    1251 non-null   object
 19  coworkers                  1251 non-null   object
 20  supervisor                 1251 non-null   object
 21  mental_health_interview    1251 non-null   object
 22  phys_health_interview      1251 non-null   object
 23  mental_vs_physical         1251 non-null   object
 24  obs_consequence            1251 non-null   object
 25  comments                   1251 non-null   object
dtypes: float64(1), object(25)
memory usage: 263.9+ KB

In [49]:
df.to_csv("full_cleaned_tech_survey_with_unknown_not_encoded.csv", index=False)

In [50]:
print(df.isnull().sum())

Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
comments                     0
dtype: int64

In [51]:
# Object type variables need to be encoded because decision tree models require numerical values to make splits based on thresholds.
# Timestamp and comments were not encoded
# Timestamp can be dropped or encoded into separate numeric features if needed
# Comments can be dropped or encoded into binary incidating if the person did leave a comment or not.

# Create a binary column indicating if a comment was provided
df['comments_binary'] = df['comments'].apply(lambda x: 1 if pd.notnull(x) and x.strip() != '' else 0)

# Drop the 'comments' column as it is now represented by 'comment_provided'
df.drop(columns=['comments'], inplace=True)

# Map ordinal categorical variables to numeric values
work_interfere_map = {
    'Never': 0,
    'Rarely': 1,
    'Sometimes': 2,
    'Often': 3,
    'Unknown': -1
}

df['work_interfere'] = df['work_interfere'].map(work_interfere_map)

no_employees_map = {
    '1-5': 1,
    '6-25': 2,
    '26-100': 3,
    '100-500': 4,
    '500-1000': 5,
    'More than 1000': 6
}

df['no_employees'] = df['no_employees'].map(no_employees_map)

leave_map = {
    'Very easy': 0,
    'Somewhat easy': 1,
    'Somewhat difficult': 2,
    'Very difficult': 3,
    'Don\'t know': -1
}

df['leave'] = df['leave'].map(leave_map)


# For nominal categorical variables, one-hot encoding.
nominal_features = ['Gender', 'Country', 'state', 'self_employed', 'family_history', 'remote_work',
                    'tech_company', 'benefits', 'care_options', 'wellness_program', 'seek_help', 'anonymity',
                    'mental_health_consequence', 'phys_health_consequence', 'coworkers', 'supervisor', 
                    'mental_health_interview', 'phys_health_interview', 'mental_vs_physical', 'obs_consequence']

df_encoded_nominal = pd.get_dummies(df[nominal_features], drop_first=False)
df = pd.concat([df, df_encoded_nominal], axis=1)
df.drop(columns=nominal_features, inplace=True)

In [52]:
# Check column names in the DataFrame
print(df.columns)

Index(['Age', 'treatment', 'work_interfere', 'no_employees', 'leave',
       'comments_binary', 'Gender_Female', 'Gender_Male', 'Gender_Other',
       'Country_Australia',
       ...
       'mental_health_interview_No', 'mental_health_interview_Yes',
       'phys_health_interview_Maybe', 'phys_health_interview_No',
       'phys_health_interview_Yes', 'mental_vs_physical_Don't know',
       'mental_vs_physical_No', 'mental_vs_physical_Yes', 'obs_consequence_No',
       'obs_consequence_Yes'],
      dtype='object', length=148)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1251 entries, 0 to 1258
Columns: 148 entries, Age to obs_consequence_Yes
dtypes: float64(1), int64(4), object(1), uint8(142)
memory usage: 241.9+ KB

In [54]:
df.head()

,Age,treatment,work_interfere,no_employees,leave,comments_binary,Gender_Female,Gender_Male,Gender_Other,Country_Australia,...,mental_health_interview_No,mental_health_interview_Yes,phys_health_interview_Maybe,phys_health_interview_No,phys_health_interview_Yes,mental_vs_physical_Don't know,mental_vs_physical_No,mental_vs_physical_Yes,obs_consequence_No,obs_consequence_Yes
0,37.0,Yes,3,2,1,0,1,0,0,0,...,1,0,1,0,0,0,0,1,1,0
1,44.0,No,1,6,-1,0,0,1,0,0,...,1,0,0,1,0,1,0,0,1,0
2,32.0,No,1,2,2,0,0,1,0,0,...,0,1,0,0,1,0,1,0,1,0
3,31.0,Yes,3,3,2,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
4,31.0,No,0,4,-1,0,0,1,0,0,...,0,1,0,0,1,1,0,0,1,0

In [55]:
df['treatment'] = df['treatment'].map({'Yes': 1, 'No': 0})

In [56]:
# Saving full cleaned, encoded dataset to csv file that can be used for modeling
df.to_csv("full_cleaned_tech_survey_with_unknown.csv", index=False)

In [57]:
# Scaled version of that encoded dataset, for K-Means clustering

from sklearn.preprocessing import StandardScaler

df_encoded = pd.read_csv("full_cleaned_tech_survey_with_unknown.csv")
X = df_encoded.drop(columns = ['treatment'])

# Scale all the numeric features using StandardScaler
scaler = StandardScaler()
df_encoded_scaled = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)

# Saving the scaled dataset for K-Means clustering
df_encoded_scaled.to_csv("full_cleaned_tech_survey_scaled_with_unknown.csv", index=False)
df_encoded_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251 entries, 0 to 1250
Columns: 147 entries, Age to obs_consequence_Yes
dtypes: float64(147)
memory usage: 1.4 MB

In [58]:
# Scaled dataset shows that each numerical value has been transformed using standardization (z-score scaling)
# Each feature (column) was scaled so the mean of each feature is 0 and std dev is 1
df_encoded_scaled.head()

,Age,work_interfere,no_employees,leave,comments_binary,Gender_Female,Gender_Male,Gender_Other,Country_Australia,Country_Austria,...,mental_health_interview_No,mental_health_interview_Yes,phys_health_interview_Maybe,phys_health_interview_No,phys_health_interview_Yes,mental_vs_physical_Don't know,mental_vs_physical_No,mental_vs_physical_Yes,obs_consequence_No,obs_consequence_Yes
0,0.675775,1.475450,-0.836258,0.613264,-0.384326,1.996012,-1.942887,-0.094186,-0.130664,-0.049029,...,0.497251,-0.184077,1.119846,-0.810527,-0.436228,-0.920792,-0.608447,1.640203,0.411289,-0.411289
1,1.636606,-0.004733,1.509389,-0.911971,-0.384326,-0.500999,0.514698,-0.094186,-0.130664,-0.049029,...,0.497251,-0.184077,-0.892980,1.233766,-0.436228,1.086021,-0.608447,-0.609681,0.411289,-0.411289
2,-0.010533,-0.004733,-0.836258,1.375881,-0.384326,-0.500999,0.514698,-0.094186,-0.130664,-0.049029,...,-2.011058,5.432513,-0.892980,-0.810527,2.292379,-0.920792,1.643528,-0.609681,0.411289,-0.411289
3,-0.147795,1.475450,-0.249846,1.375881,-0.384326,-0.500999,0.514698,-0.094186,-0.130664,-0.049029,...,-2.011058,-0.184077,1.119846,-0.810527,-0.436228,-0.920792,1.643528,-0.609681,-2.431379,2.431379
4,-0.147795,-0.744824,0.336566,-0.911971,-0.384326,-0.500999,0.514698,-0.094186,-0.130664,-0.049029,...,-2.011058,5.432513,-0.892980,-0.810527,2.292379,1.086021,-0.608447,-0.609681,0.411289,-0.411289